<app-modal [title]="titleModal" [headerClass]="'bg-primary'">


  <div class="row">

    <div class="col-12">
      <div class="form-group">
        <label for="title">Título <span class="text-danger font-weight-bold">*</span></label>
        <input type="text" class="form-control" id="title" aria-describedby="title" [(ngModel)]="title"
          name="categoryTemplate" placeholder="Ingresa título">
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <label for="content">Contenido <span class="text-danger font-weight-bold">*</span></label>
        <textarea class="form-control" id="content" rows="3" [(ngModel)]="content" name="content"
          placeholder="Ingresa un contenido"></textarea>
      </div>
    </div>
  </div>


  <div class="modal-footer d-flex justify-content-center">
    <button class="btn btn-primary" (click)="saveTask()">Guardar</button>
    <!-- (click)="saveTask()" *ngIf="!templateModel"-->
    <button class="btn bg-danger text-white" (click)="close()">Cerrar</button>
  </div>
</app-modal>

<ngx-loading [show]="loading" [config]="{fullScreenBackdrop: true }"></ngx-loading>